:host {width: 100%;}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

h1 {
    margin: 20px;
}

.containerr {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

a {
    margin: 10px;
    padding: 10px 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
}

a:link {text-decoration: none;}

h1 {
    justify-content: start;
}

.btn_selection {
    display: flex;
    justify-content: space-between;
}

.status_admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}