<div class="CarteVreumantComplete">

  <div class="carteComplete">
    <div class="premiereLigneCarte">
      <div class="titreEtTag">
        <H2>{{post.postName}}</H2>
      </div>

      <div class="dateEvent"><span class="material-symbols-outlined icone">
          schedule
        </span>{{post.postDateEvent}}</div>
    </div>
    <div class="tag">#{{tag.tagName}}</div>
    <div class="textPost">
      {{post.postDescription}}
    </div>
    <div class="derniereLigneCarte">
      <div class="lieuNomEtIcone">
        <span class="material-symbols-outlined"  style="margin-right: 0.4rem;">
          location_on
        </span>
        {{post.postPlace}}
      </div>
      <div><button class="button-18" role="button" (click)="link()"><span class="material-symbols-outlined"
            style="margin-right: 0.4rem;">
            link
          </span>Lien</button></div>
    </div>
  </div>
  <div class="divModifs" id="toHide">

      <span class="material-symbols-outlined" >
        edit
      </span>
      <span class="material-symbols-outlined" (click)="deleteThisPost(post.id)">
        delete
      </span>

  </div>
</div>
