<!-- <div class="box">
	<div class="item">
		<h3>{{association.name}}</h3>
		<div class="info">
			image
			<div class="link">
				<a href="" class="red">{{association.fbLink}}</a>
				<a href="" class="blue">{{association.igLink}}</a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="link">
			<a href="" type="button" class="btn">edit</a>
			<a href="" type="button" class="btn">delete</a>
		</div>
	</div>
</div> -->

<div class="box">
	<div class="item">
		<h3>Nom association</h3>
		<div class="info">
			image
			<div class="link">
				<a href="" class="red">Lien Facebook</a>
				<a href="" class="blue">Lien Instagram</a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="link">
			<a href="" type="button" class="btn">edit</a>
			<a href="" type="button" class="btn">delete</a>
		</div>
	</div>
</div>