<div class="carteComplete">
  <div class="premiereLigneCarte">
    <div class="titreEtTag">
      <H2>Titre évènement </H2>
    </div>

    <div class="dateEvent"><span class="material-symbols-outlined icone">
      schedule
      </span>88/88/8888</div>
  </div>
  <div class="tag">#soiree</div>
  <div class="textPost">
    texte detail post
  </div>
  <div class="derniereLigneCarte">
    <div class="lieuNomEtIcone">
      <span class="material-symbols-outlined" style="margin-right: 0.4rem;">
        location_on
        </span>
      lieu
    </div>
    <div><button class="button-18" role="button"><span class="material-symbols-outlined" style="margin-right: 0.4rem;">
      link
      </span>Lien</button></div>
  </div>
</div>
